[submodule "submodules/unicodemath-tests"]
	path = submodules/unicodemath-tests
	url = git@github.com:plurimath/unicodemath-tests.git
[submodule "ext/plurimath/lasem"]
	path = ext/plurimath/lasem
	url = git@github.com:LasemProject/lasem.git
